<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include google-analytics.html %}

  <body>

    {% include header2.html %}

    <div class="page-content">
      <div class="wrapper">
          <h1><a href="http://lists.theta360.guide/?order=views">Blog Site Moved</a></h1> |
          <a href="http://theta360.guide">Unofficial Guides</a> |
          <a href="http://theta360.guide/contest/">$45K THETA Dev Contest</a>
          <hr>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
